@model GcwensaHrApp.ViewModels.LeaveRequestViewModel
@using GcwensaHrApp.Enums

@{
    ViewData["Title"] = "Create Leave";
    Model.LeaveStartDate = DateTime.Today;
    Model.LeaveEndDate = DateTime.Today;
}

<div class="w-100" id="UsersManagementPage">
    <div class="row w-100" id="UsersManagementHeader">
        <div>
            <p class="fs-8 text-white">Create <span class="font-weight-bold">New Leave Request</span></p>
        </div>
        <div style="margin-left:auto">
            <p> <a class="btn btn-sm action-link" style="background: lightcyan;" onclick="GoBack()"><i class="fa fa-arrow-left" style="margin-right:5px"></i>Back</a> </p>
        </div>
    </div>
    <div id="PageContainer">
        <div class="row" id="PageFormContainer">
            <h1 class="w-100 text-center fs-10 heading-undeline">Create Leave</h1>
            <div class="w-100" style="margin-top:20px">
                <form id="CreateLeaveRequestForm" asp-action="CreateLeaveRequest">
                    <div asp-validation-summary="ModelOnly" class="text-danger fs-4"></div>
                    <div class="form-group">
                        <label asp-for="LeaveType" class="control-label fs-4"></label>
                        <select asp-for="LeaveType" class="form-control txtBox-3 custom-Input-Box1 fs-4">
                            <option value="@LeaveType.Sick">@LeaveType.Sick.GetDisplayName()</option>
                            <option value="@LeaveType.Maternity">@LeaveType.Maternity.GetDisplayName()</option>
                            <option value="@LeaveType.FamilyResponsibility">@LeaveType.FamilyResponsibility.GetDisplayName()</option>
                            <option value="@LeaveType.Other">@LeaveType.Other.GetDisplayName()</option>
                        </select>
                        <span asp-validation-for="LeaveType" class="text-danger fs-4"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LeaveStartDate" class="control-label fs-4"></label>
                        <input asp-for="LeaveStartDate" class="form-control txtBox-3 custom-Input-Box1 fs-4" />
                        <span asp-validation-for="LeaveStartDate" class="text-danger fs-4"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LeaveEndDate" class="control-label"></label>
                        <input asp-for="LeaveEndDate" class="form-control txtBox-3 custom-Input-Box1 fs-4" />
                        <span asp-validation-for="LeaveEndDate" class="text-danger fs-4"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label fs-4">Reason:</label>
                        <textarea rows="3" asp-for="LeaveReason" class="form-control"></textarea>
                        <span asp-validation-for="LeaveReason" class="text-danger fs-4"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn fs-5 txtBox-8" id="LoginBtn" data-loading-text="<i class='fa fa-spinner fa-spin '></i>Loading..." style="color:#005AEE;border-color:#005AEE">Create Leave</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<script>

    function GoBack()
    {
        var url = '@Url.Action("Index","Dashboard")';
        window.location = url;
    }
    
    function CreateLeaveReq()
    {
        var url = '@Url.Action("CreateLeaveRequest", "LeaveRequests")';
        var postUrl = '@Url.Action("Index","Dashboard")';

        var data = $("#CreateLeaveRequestForm").serialize(); 
        console.log("data => " + data);
        SubmitWithSweetAlert(url, data, "Leave Request successfully created", postUrl); 
    }

</script>
