@using GcwensaHrApp.Enums;
@model GcwensaHrApp.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    var count = 1;

    var t = Model.LeaveRequests;
    t.AddRange(t);
    t.AddRange(t);
    t.AddRange(t);
    t.AddRange(t);
    t.AddRange(t);
    t.AddRange(t);
}

<div class="w-100" id="UsersManagementPage">
    <div class="row w-100" id="UsersManagementHeader">
        <div>
            <p class="fs-8 text-white">Leaves <span class="font-weight-bold">Management</span></p>
        </div>
        <div style="margin-left:auto">
            <p> <a class="btn btn-sm action-link" style="background: lightcyan;" onclick="CreateLeaveRequest()"><i class="fa fa-plus-circle" style="margin-right:5px"></i>Create Leave Request</a> </p>
        </div>
    </div>
    <div class="row w-100" style="margin-left:0;margin-right:0;padding:0 20px;max-height:66vh;overflow:auto;">
        <table class="table table-hover table-striped fs-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Create Date</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leaveReq in Model.LeaveRequests)
                {
                    <tr>
                        <td class="font-weight-bold">@count</td>
                        <td>@leaveReq.CreateTime.ToString("dd-MM-yyyy")</td>
                        <td>@leaveReq.LeaveType.GetDisplayName() Leave</td>
                        <td>@leaveReq.LeaveStartDate.ToString("dd-MM-yyyy")</td>
                        <td>@leaveReq.LeaveEndDate.ToString("dd-MM-yyyy")</td>
                        <td>@leaveReq.LeaveDaysDuration</td>
                        <td>@leaveReq.LeaveReason</td>
                        <td>@leaveReq.LeaveStatus.GetDisplayName()</td>
                        <td class="text-white">
                            <a class="btn btn-primary btn-sm fs-3 action-link" onclick="LeaveRequestActions('edit','@leaveReq.Id')"><i class="fa fa-cog fs-3" style="margin-right:6px;"></i>Edit</a> 
                            <a onclick="LeaveRequestActions('cancel','@leaveReq.Id')" class="btn btn-danger btn-sm fs-3 action-link"><i class="fa fa-times-circle fs-3" style="margin-right:6px; "></i>Delete</a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    function LeaveRequestActions(type, id)
    {
        var url = "";
        
        if (type == "edit") url = '@Url.Action("EditLeaveRequest","LeaveRequests")?leaveId=' + id;
        if (type == "cancel") url = '@Url.Action("CancelLeaveRequest","LeaveRequests")?leaveId' + id;

        window.location = url;
    }

    function CreateLeaveRequest() 
    {
        var url = '@Url.Action("CreateLeaveRequest","LeaveRequests")';
        window.location = url;
    }

</script>