@using GcwensaHrApp.Enums;
@model GcwensaHrApp.ViewModels.UserManagementViewModel

@{
    ViewData["Title"] = "UsersManagement";

    var count = 1;

    var t = Model.UserDetails;
    t.AddRange(t);
    t.AddRange(t);
    t.AddRange(t);
    t.AddRange(t);
}



<div class="w-100" id="UsersManagementPage">
    <div class="row w-100" id="UsersManagementHeader">
        <div>
            <p class="fs-8 text-white">Users <span class="font-weight-bold">Management</span></p>
        </div>
        <div style="margin-left:auto">
            <p> <a class="btn btn-sm" style="background: lightcyan;" asp-action="CreateUser"><i class="fa fa-plus-circle" style="margin-right:5px"></i>Add New User</a> </p>
        </div>
    </div>
    <div class="row w-100" style="margin-left:0;margin-right:0;padding:0 20px;max-height:66vh;overflow:auto;">
        <table class="table table-hover table-striped fs-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserDetails)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Firstname @item.Lastname</td>
                        <td>@item.Email</td>
                        <td>@item.UserRole</td>
                        <td>@item.AccountStatus</td>
                        <td>
                            <a asp-action="EditUser" asp-route-userId="@item.Id" class="btn btn-primary btn-sm fs-3"><i class="fa fa-cog fs-3" style="margin-right:6px;"></i>Edit</a> 
                            <a asp-action="DeleteUser" asp-route-userId="@item.Id" class="btn btn-danger btn-sm fs-3"><i class="fa fa-times-circle fs-3" style="margin-right:6px; "></i>Delete</a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>